<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Suite1" verbose = "1">
   <test name = "test1">

      <parameter name = "validLoginName" value="..."/>
      <parameter name = "validPassword" value="..."/>
      <parameter name = "validAvatarId" value="..."/>
      <parameter name = "tooShortLoginName" value="test"/>
      <parameter name = "badLoginName" value="testtest"/>
      <parameter name = "tooShortPassword" value="123"/>
      <parameter name = "badPassword" value="testtest123456789"/>
      <parameter name = "badAvatarId" value="13"/>
      <parameter name = "badUserId" value="130794"/>
      <parameter name = "badSessionToken" value="cjjtufyr56675rduts2q5q8efhxtay867dyf85425wsckjioguiystrstusufigr5ewwqsh"/>

      <classes>
         <class name = "michu4k.kontomatikchallenge.testngtest.TestNGSimpleTest"/>
         <class name = "michu4k.kontomatikchallenge.mocktests.NestBankMaskedPasswordAuthenticatorMockTest"/>
         <class name = "michu4k.kontomatikchallenge.mocktests.NestBankAccountScraperMockTest"/>
         <class name = "michu4k.kontomatikchallenge.acceptancetests.NestBankMaskedPasswordAuthenticatorAcceptanceTest"/>
         <class name = "michu4k.kontomatikchallenge.acceptancetests.NestBankAccountScraperAcceptanceTest"/>
      </classes>
   </test>
</suite>